/* Main styling for the website*/

html {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

/* Header styling with main navigation and jumbotron*/


header {
  background: url("../images/glasses-bg.png") no-repeat center/cover;
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;

  border: 1px solid green;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: 1rem auto;
  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.slogan {
  width: 960px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.slogan h1 {
  display: inline-block;
  margin: 10rem -2rem 0 0;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

/* First section of main - Services and Icon*/

#services {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 5rem;
  height: 8rem;
  margin: 3rem 0;
  padding: 0 3rem;

  text-align: center;
}


#services img {
  width: 5rem;
  padding: 0 0 1rem 0;
}

#services img.paper-icon {
  width: 3.5rem;
}

/* Second section of main - Informations: Philosophy and Appointments */

.information {
  display: flex;
  justify-content: flex-start;
  width: 960px;
  margin: 0 auto;
}

.philosophy, .appointments{
  width: 35%;
  margin-bottom: 5rem;
  padding: 0 2.5%;
}

h2 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.information p {
  line-height: 1.4rem;
}

/* Footer */
