/* Main styling for the website*/

html {
  font-size: 18px;
  margin: 0;

}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;

}

/* Header styling with main navigation and jumbotron*/


header {
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;

  background: url("../images/glasses-bg.png") no-repeat center/cover;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 960px;
  margin: 0 auto;

  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem 2rem;
}

.responsive{
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.slogan {
  width: 960px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.slogan h1 {
  display: inline-block;
  margin: 10rem -2rem 0 0;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
}

/* First section of main - Services and Icon*/

#services {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 5rem;
  height: 8rem;
  margin: 3rem 0;
  padding: 0 3rem;

  text-align: center;
}


#services img {
  width: 5rem;
  padding: 0 0 1rem 0;
}

#services img.paper-icon {
  width: 3.5rem;
}

/* Second section of main - Informations: Philosophy and Appointments */

.container {
  display: flex;
  justify-content: flex-start;
  width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.philosophy, .appointments{
  width: 35%;
  margin-bottom: 5rem;
  padding: 0 2.5%;
}

h2 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

.container p {
  line-height: 1.4rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}


/* Media Queries for responsiveness */

/* Tablet version */

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0rem;
  }

  nav {
    width: 100%;
  }

  .slogan {
    width: 100%;
}

.slogan h1 {
  margin: 5rem 2rem 0 0;
  font-size: 1.33rem;
  padding: 0.75rem 4rem;
}

.container {
  width: 100%;
}

/* Other version */

@media only screen and (max-width: 750px) {

.general {
  display: none;
}


.responsive {
  display: inline-block;
}

/* Mobile version */

@media only screen and (max-width: 560px) {

.logo p {
  display: none;
}

header {
  height: 17rem;
  background-position: 20%;
}

.slogan h1 {
  margin: 9rem 0 0 0;
  padding: 0.75rem 0rem;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.77rem 0;
  padding: 0;
}

.service {
  margin: 0 0 1.54rem 0;
  padding: 0;
  font-size: 0.77rem;
  line-height: 1.2rem;
}


.philosophy, .appointments{
  width: 100%;
  margin-bottom: 4rem;
  padding: 0;
}

h2 {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.container p {
  font-size: 0.77rem;
  padding: 0 0.75rem;
}


}
